@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Manrope:wght@200..800&display=swap');
:root{
    --primary-color: #023047;
    --secondary-color: #219cba;
    --accent1-color: #ffb805;
    --accent2-color: #fa8500;

    --heading-font: archivo, sans serif;
    --paragraph-font: manrope, sans serif;

    --nav-background-color: #ffffff;
    --nav-link-color: #023047;
    --nav-hover-background-color:#ffffff;
    --nav-hover-link-color: #219cba;

}
body {
    max-width: 960px;
    padding: 20px;
    font-family: var(--paragraph-font);
}
main {
    width: 600px;
    margin: 0 auto;

}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    width: 100%;
}   



h2,h3,h4,h5,h6 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;    
    color: var(--secondary-color);
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--accent1-color)    
}
.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}
h1 {
    font-size: 2rem;
    font-family: archivo, manrope, sans-serif;
}
p {
    padding: 20px;
}

section {
    background-color: var(--primary-color);
    color: #067bb6; 

}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;    
}
nav a:link, nav a:visited {
    color: var(--nav-link-color); 
    text-decoration: none;   
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
map {
    display:inline-block;
    padding: 25px;
    

}
h5 {
    margin: 40px;
}
h2{
    padding: 25px;
}   
    

