@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Manrope:wght@200..800&display=swap');

:root{
    --primary-color: #023047;
    --secondary-color: #219cba;
    --accent1-color: #f8f7f5;
    --accent2-color: #fa8500;

    --heading-font: archivo, sans serif;
    --paragraph-font: manrope, sans serif;

    --nav-background-color: white;
    --nav-link-color: #023047;
    --nav-hover-background-color:#ffb805;
    --nav-hover-link-color: #219cba;

}
*{
    margin: 40px;
    padding: 10px;
    box-sizing: border-box;
}

.home h1 {
    position: absolute;
    padding-top: 100px;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
}
.homeimg {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.homesection {
    width: 80%;
    height: 200px;
}
.section1 {
    margin: 1rem;
    grid-column: 2;
    grid-row:auto;

}
body {
    max-width: 100%;
    padding: 20px;
    font-family: var(--paragraph-font);
    font-size: 1.2em;
    background:#c2e6ef
}
.hero {
    margin-top: 1rem;        
    display: flex;    
    padding: 20px;     
    justify-content:flex-start;
    align-items: center;
    gap: 30px;    
    background-image: url('images/raftingbanner.png');
    /* background-size: cover; */
    
}


main {
    width: 100%;
    margin: 0 auto;

}



img {
    width: 100%;
} 


h2,h3,h4,h5,h6 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;    
    color: var(--secondary-color);
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 2fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 100%;
    padding: 20px;
     
    background-color: var(--primary-color);
    color: var(--accent1-color) 
     
}
.headercontainer {
    border-bottom: 2px solid #000;
    padding:20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:#023047;
 
    
     
}
.logoimg {
    margin: 0 0.25rem 0 1rem;
    width: 10%;
    height: auto;    
    min-width: 100px;
    border: 5px double gray;
    justify-self: center; 
    align-content: center;  
}
.top{ 
    /* border: 2px double #000; */
    padding: 10px 10px;
    /* display: flex;  */   
    align-items: center;
    gap: 30px;         
}
.gridhome {
    display: grid;
    
}
.grid {
    display: grid;
    align-items: center;
    margin: auto;
    max-width: 840px;
}
.box {
    width: 400px;
    padding: 1em;
    border-radius: .5rem;
    justify-content: left;
   /*  border: 3px solid #023047;
    background-color: aliceblue; */

}
.box2 {
    width: 400px;
    padding: 1em;
    align-items: auto;
   
}
.flexbox-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}
.flexbox-item1 {
    min-height: 100px;
}   
h1 {
    font-size: 2rem;
    font-family: archivo, manrope, sans-serif;
    
}
p {
    padding: 20px;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between; */
}
main h1{
    text-align:center;
}

.crew {
    background-color: var(--primary-color);
    color: #067bb6; 
}
.crews{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.crews img{
    width: 40%;
    padding:40px;
}
.happyrafter {
    width: 10vw;
    margin: 1rem auto;
    background-color: rgb(175, 212, 245);
    padding: 1rem;
    border: 2px solid darkblue;
}
.intro {
    width: 15vw;
    margin: 1rem auto;
    background-color: aliceblue;
    padding: 1rem;
    border: 2px solid darkblue;

}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    text-align: right;   
    align-items: center;
    gap: 30px;

}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 0rem;       
} 
nav a:link, nav a:visited {
    color: var(--nav-link-color); 
    text-decoration: none; 
    text-align: center;
      
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
map {
    display:flex;
    padding: 50px;
    float: right;
}
table {
    border: 2px solid rgb(0, 0, 8);
    
}
th,td {
    border: 1px solid rgb(13, 48, 114);
    padding: 10px
}
h5 {
    margin: 40px;
}
h2{
    padding: 25px;
    
    text-align: center;
} 
.boxhome {
    margin: auto;
    padding: 40px;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0.5);
    border-radius: 0.5rem;
    background-color: #fff;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1rem;
}
legend {
    padding: 0.5rem;
    color: #023047
    
}
label {
    text-align: left;
    padding-right: 1rem;
}
.form-item {
    display: grid;
    align-items: center;
}
.column1{
    grid-template-columns:3fr 1fr;
    margin:0.5rem 0;
}
.column2{
    grid-template-columns:3fr 1fr;
    margin:0.5rem 0;    
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.25rem;
    vertical-align: bottom;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {

    margin: 1rem;
    background-color: darkblue;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.4rem;     
}  


.firstsection {
    box-sizing: border-box;
    border: 1px solid blue;
    width: 100%;
    

}
.tours {
    display: grid;
  
    

}
.toursection {
    
    border-bottom: 2px solid #000;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    

}

footer{
    margin: 1rem;
    display: flex;
    align-items: center;    

}

