@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Manrope:wght@200..800&display=swap');

:root{
    --primary-color: #023047;
    --secondary-color: #219cba;
    --accent1-color: #ffb805;
    --accent2-color: #fa8500;

    --heading-font: archivo, sans serif;
    --paragraph-font: manrope, sans serif;

    --nav-background-color: white;
    --nav-link-color: #023047;
    --nav-hover-background-color:#ffb805;
    --nav-hover-link-color: #219cba;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    max-width: 100%;
    padding: 20px;
    font-family: var(--paragraph-font);
}
.hero {
   /*  margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid blue;
    display: flex;
} */
    border-bottom: 2px solid #000;
    padding: 20px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 30px;

    background-color:#067bb6;
    background-image: url('images/raftingbanner.png');
}
.hero img {
    width: 100%;
    height: auto;
}
main {
    width: 100%;
    margin: 0 auto;

}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    width: 100%;
}   



h2,h3,h4,h5,h6 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;    
    color: var(--secondary-color);
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 2fr 2fr;
    align-items: center;
    border: 1px solid #ccc;
    max-width: 100%;
    padding: 20px;
   /*  background-image:'images/raftingbanner.png'; */
    background-color: var(--primary-color);
    color: var(--accent1-color) 
     
}
.headcontainer {
    background-color:#023047;
    background-image: url('images/raftingbanner.png');
    background-size: cover;
    display:grid;
}
.logoimg {
    /* margin: 0 0.25rem 0 1rem;
    width: 50px;
    height: auto; */ 
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;   
}
.top{ 
    border-bottom: 2px solid #000;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
h1 {
    font-size: 2rem;
    font-family: archivo, manrope, sans-serif;
    
}
p {
    padding: 20px;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between; */
}
main h1{
    text-align:center;
}

.crew {
    background-color: var(--primary-color);
    color: #067bb6; 
}
.crews{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.crews img{
    width: 100%;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    text-align: right;
    background-image: url('images/raftingbanner.jpg');
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem; 
    text-align: center;   
}
nav a:link, nav a:visited {
    color: var(--nav-link-color); 
    text-decoration: none; 
    text-align: center;
      
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
map {
    display:right;
    padding: 50px;
    
    
  

}
h5 {
    margin: 40px;
}
h2{
    padding: 25px;
    display:center;
    text-align: center;
} 
/*.form-item {
    display:grid;
    align-items: left;    
} */
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0.5);
    border-radius: 0.5rem;
    background-color: #fff;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1rem;
}
.column1{
    grid-template-columns:1fr 3fr;
    margin:0.5rem 0;
}
.column2{
    grid-template-columns:3fr 1fr;
    margin:0.5rem 0;    
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.25rem;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {

    margin: 1rem;
    background-color: darkblue;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .5;
    font-size: 1.4rem;    
    
}  
footer{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

